## This file allows joining different accounts of a single person.
## Cf for instance: git shortlog -nse. More details via: man git shortlog

# having the same name <email> name <email> on a line will fix capitalization
Adam Chlipala <adamc@csail.mit.edu>                        Adam Chlipala <adamc@csail.mit.edu>
Adam Chlipala <adamc@csail.mit.edu>                        Adam Chlipala <adam@chlipala.net>
Andres Erbsen <andreser@mit.edu>                           Andres Erbsen <andreser@mit.edu>
Jade Philipoom <jadep@mit.edu>                             Jade Philipoom <jadep@mit.edu>
Jade Philipoom <jadep@mit.edu>                             jadep <jade.philipoom@gmail.com>
Jade Philipoom <jadep@mit.edu>                             jadep <jadep@mit.edu>
Jason Gross <jgross@mit.edu>                               Jason Gross <jgross@mit.edu>
Robert Sloan <varomodt@gmail.com>                          Robert Sloan <rsloan@sumologic.com>
Robert Sloan <varomodt@gmail.com>                          Robert Sloan <varomodt@dhcp-18-189-26-21.dyn.MIT.EDU>
Robert Sloan <varomodt@gmail.com>                          Robert Sloan <varomodt@dhcp-18-189-51-40.dyn.MIT.EDU>
Robert Sloan <varomodt@gmail.com>                          Robert Sloan <varomodt@gmail.com>
Robert Sloan <varomodt@gmail.com>                          Robert Sloan <varomodt@Roberts-MacBook.local>
Robert Sloan <varomodt@gmail.com>                          Rob Sloan <varomodt@gmail.com>
Robert Sloan <varomodt@gmail.com>                          varomodt <varomodt@localhost.localdomain>
