language: c

sudo: required

dist: trusty

compiler:
  - gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
      - libssl-dev

matrix:
  fast_finish: true
  include:
    - env: COQ_VERSION="master"    TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="master"    TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="master"    TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: COQ_VERSION="8.7+beta2" TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq-8.7+beta2" PPA="ppa:jgross-h/many-coq-versions"
    - env: COQ_VERSION="8.7+beta2" TARGETS="curves-proofs"                               COQ_PACKAGE="coq-8.7+beta2" PPA="ppa:jgross-h/many-coq-versions"
    - env: COQ_VERSION="8.7+beta2" TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq-8.7+beta2" PPA="ppa:jgross-h/many-coq-versions"
    - env: COQ_VERSION="8.6.1"     TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq-8.6.1"     PPA="ppa:jgross-h/many-coq-versions"
    - env: COQ_VERSION="8.6.1"     TARGETS="curves-proofs"                               COQ_PACKAGE="coq-8.6.1"     PPA="ppa:jgross-h/many-coq-versions"
    - env: COQ_VERSION="8.6.1"     TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq-8.6.1"     PPA="ppa:jgross-h/many-coq-versions"
    - env: TARGETS="selected-test selected-bench" COQ_VERSION="8.7+beta2"                COQ_PACKAGE="coq-8.7+beta2" PPA="ppa:jgross-h/many-coq-versions"
    - env: TARGETS="printlite lite" COQ_VERSION="8.6.1"                                  COQ_PACKAGE="coq-8.6.1"     PPA="ppa:jgross-h/many-coq-versions"
  allow_failures:
    - env: COQ_VERSION="master"    TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="master"    TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="master"    TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-master-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.7"      TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.7-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="no-curves-proofs-non-specific"               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="curves-proofs"                               COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: COQ_VERSION="v8.6"      TARGETS="selected-specific selected-specific-display" COQ_PACKAGE="coq"           PPA="ppa:jgross-h/coq-8.6-daily"
    - env: TARGETS="selected-test selected-bench" COQ_VERSION="8.7+beta2"                COQ_PACKAGE="coq-8.7+beta2" PPA="ppa:jgross-h/many-coq-versions"

before_install:
  - if [ ! -z "$PPA" ]; then sudo add-apt-repository "$PPA" -y; fi
  - sudo apt-get update -q
  - sudo apt-get install $COQ_PACKAGE -y


before_script:
  - uname -a
  - source ./etc/ci/travis_keep_alive.sh
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7

script: ./etc/coq-scripts/timing/make-pretty-timed.sh -j2 $TARGETS && make $TARGETS TIMED=1 -j2

after_success:
  - kill $PID_KEEP_ALIVE
