name: Test Generated Go

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test-go:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.13
      id: go
    - uses: actions/checkout@v2
    - name: submodules-init
      uses: snickerbockers/submodules-init@v4
    - name: make only-test-go-module
      run: make only-test-go-module EXTERNAL_DEPENDENCIES=1
    - name: make only-test-go-files
      run: make only-test-go-files EXTERNAL_DEPENDENCIES=1
    - name: Test for non-diff of gofmt
      run:
        DIFF="$(find fiat-go -name "*.go" | xargs gofmt -s -d)"
        echo "${DIFF}"
        test -z "${DIFF}"
