name: Test Generated Go

on:
  push:
  pull_request:
  merge_group:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test-go:

    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Set up Go 1.13
      uses: actions/setup-go@v6
      with:
        go-version: 1.13
      id: go
    - name: make only-test-go-module
      run: make only-test-go-module EXTERNAL_DEPENDENCIES=1
    - name: make only-test-go-files
      run: make only-test-go-files EXTERNAL_DEPENDENCIES=1
    - name: Test for non-diff of gofmt
      run:
        DIFF="$(find fiat-go -name "*.go" | xargs gofmt -s -d)"
        echo "${DIFF}"
        test -z "${DIFF}"
