name: Test Generated JSON

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test-json:

    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: make only-test-json-files
      run: make only-test-json-files EXTERNAL_DEPENDENCIES=1
