name: Test Generated JSON

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test-go:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: make only-test-json-files
      run: make only-test-json-files EXTERNAL_DEPENDENCIES=1
